html {
    position: relative;
    background-color: black;
}

body {
    position: relative;
    margin-left: 30vh;
    margin-right: 30vh;
    margin-top: 0;
}

.container {
    display: flex;
    position: relative;
    background-color: 	#F5F5F5;
    height: 100vh;
}

#img-container {
    display: flex;
    flex: 0 0 auto;
    height: 100vh;
    width: 400px;
    background-image: url(img-font/plant.jpg);
    background-size: cover;
}

#right-cont {
    display: flex;
    flex-grow: 1;
}

#plant {
    position: relative;
    width: 50vh;
    height: 100vh;
    left: 0;
}


#odin-container h1 {
    position: absolute;
    font-size: 4.5rem;
    margin: 196px 24px;
}

#odin {
    position: relative;
    width: 4.5rem;
    height: auto;
    margin: 150px -88px;
    padding: 4px 206px;
    border: solid black;
    background-color: rgba(0, 0, 0, .4);
}

@font-face {
    font-family: norse;
    src: url(img-font/Norse-Bold.otf);
}

h1 {
    position: absolute;
    left: 25vh;
    top: -1rem;
    color: white;
    font-family: norse;
    font-size: 4rem;
}

h4 {
    margin: 6rem 2rem;
    font-size: large;
    text-align: left;
}

h5 {
    margin-left: 32px;
    margin-top: 14px;
    margin-bottom: 8px;
    font-size: large;
}

#form-cont {
    display: flex;
    position: absolute;
    margin: 17rem 0;
    background-color: white;
    padding: -100px 200px 100px 200px;
    box-shadow: 0 .4rem .4em grey;
}

.textInput {
    display: flex;
    flex-direction: column;
}

label + input {
    border-color: #E5E7EB;
    border-radius: 4px;
}

.textInputRow {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    padding: 0 206px 12px 32px;
    width: 100%;
}

.textInputRow:last-child {
    padding-bottom: 32px;
}

button {
    position: absolute;
    margin: 230px 32px;
    padding: 8px 32px;
    border-radius: 10px;
    color: white;
    background-color: #596D48;  
}

p {
    position: absolute;
    margin: 288px 32px;
}

label {
    font-size: small;
}

a {
    text-decoration: none;
}